.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;   
    height: 100vh;
}

.sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 88%;
    height: 600px;
    min-width: 330px;
    max-width: 375px;
    background-color: var(--color-grey-800);
    border-radius: .625rem;
    gap: 1.5rem;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.header__avatar {
    border-radius: 4rem;
}

.header__content, .sec__content {
    text-align: center;
}

.header__mainTitle {
    font-size: 1.5rem;
    line-height: 1.6;
    font-weight: 600;
}

.header__paragraph {
    color: var(--color-green);
    font-weight: 600;
}